* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #00D119;
  --secondary: #ee1010;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --grayStrong: #101010;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --sliderHeight: 250px;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 1px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
::-webkit-scrollbar-track {
  background-color: var(--primary);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--grayStrong);
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.overflow-0::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}